body {
  margin: 0;
  font-family: system-ui, Helvetica, sans-serif;
  background-color: white;
  text-align: center;
}
.wrapper {
  max-width: 1020px;
  margin: auto;
  padding: 0 2em;
}
h1 {
  font-size: 110px;
  line-height: 100px;
}

.hero-content {
  display: flex;
}
.app {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  font-size: 2em;
  text-align: left;
}

p {
  display: flex;
  justify-content: space-between;
}

/* agregar imagen y sus propiedades*/
.mac {
  height: 700px;
  flex: 1;
  background: url("../images/mac.png") center top no-repeat;
  background-size: contain;
}

.button {
  color: white;
  background: #3f69ff;
  font-size: 1em;
  border: none;
  padding: 0.7em 1em;
  border-radius: 0.5em;
  font-weight: bold;
  cursor: pointer; /*estilo de puntero al momento de pasar el mous*/
}
